{
	"presets": [
		"es2015",
		"react",
		"stage-0",
		"flow"
	],
	"plugins": [
		["styled-components"],
		[
			"module-resolver", {
				"root": ["./src"],
				"alias": {
					"@coderbox/prop-types": "/proptypes"
				}
			}
		]
	]
}